.parallax-window {
    min-height: 70vh;
    background: transparent;
}
.carousel-control.right{
  background-image: none;
}
.carousel-control.left{
  background-image: none;
}
.scroll-pane{
  position: relative;
  min-height: 100%;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Roboto Slab', sans-serif;
}
p, li{
  font-family: 'Roboto', sans-serif;
}
#me{
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 100%;
}
.white{
  color: #FFFFFF;
}
.me-panel{
  background-color: #537a8b;
  color: #ffffff;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
}
.resume-panel-container {
  display: flex;
}
.resume-panel{
  background-color: #569186;
  border-radius: 12px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
}
.movies-panel{
  background-color: #6c7ab4;
}
#top-nav{
  background-color: #1c313a;
  color: #ffffff;
}
#about-me{
  background-color: #7da9bd;
  /* height: 100vh; */
  margin-top: -20px;
}
#resume{
  background-color: #7dbdb1;
  min-height: 100vh;
}
.last-panel{
  margin-left: 20px;
}
#movies{
  position: relative;
  background-color: #7d89bd;
  /* height: 100vh; */
}
.dots{
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 40px;
}
.scroll-dot{
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin-bottom: 10px;
  background-color: #e3e3e3;
  /*border: 1px solid #000;*/
  border-radius: 50%;
}
.dot-active{
   height: 15px;
   width: 15px;
   box-shadow: 1px 1px 3px #000;
}
.image-tile{
    width: 100%;
}
.vertical-middle-page{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.nopad{
  padding: 0;
}
.overlay{
   background-color: #565656;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   height: 100%;
   width: 100%;
   opacity: 0;
   transition: .5s ease;
}
.description{
   color: white;
   font-size: 11px;
   position: absolute;
   text-align: center;
   padding-left: 5px;
   padding-right: 5px;
   cursor: default;
}
.image-col{
  padding: 0;
  border-right: 15px solid #6c7ab4;
}
.tooltip {
  margin-right:15px;
  pointer-events: none;
}
.tooltip > .tooltip-inner{
  background-color: #e3e3e3;
  color: #000;
}
.tooltip > .tooltip-arrow {
 opacity: 0;
}
.top-10{
  padding-top: 10px;
}
.row{
  margin: 0;
}
.border-white{
  border: 2px solid #fff;
  padding: 5px;
}
.resume-image{
  max-height: 150px;
}
.inner-padding{
  padding-top: 25px;
  padding-bottom: 25px;
}
a:hover{
  color: #FFF;
}
@keyframes blink-caret {
  50% {
   border-color: transparent;
 }
}
.no-top{
  margin-top: 0;
}
.add-margins{
  margin:15px;
}
.mobile-tiles{
  max-height: 50%;
  margin-bottom: 15px;
}
.top-bott-padding{
  padding-top: 1px;
  padding-bottom: 1px;
}
.mybutton{
  margin-right: 10px;
  max-height: 35px;
  max-width: 35px;
}
.top-padding{
  padding-top: 25px;
}
.res-header{
  margin-bottom: 50px;
}
.sticky-footer{
  position: absolute;
  bottom: 5px;
  left: 25px;
}
.footer{
  margin-left: 10px;
}
.buttons{
  padding-top: 15px;
}
.res-icons{
    margin-top: 25px;
}
#download-res{
  cursor: pointer;
  margin-left: 10px;
  font-size: 24px;
}
.desktop-height-100{
  height: 100vh;
}
.mobile-min-height-100{
  min-height: 100vh;
}
.display__flex {
  display: flex;
}
.flex__align--center {
  align-items: center;
}

.margin__bottom--0 {
  margin-bottom: 0px;
}
.padding__top--10px {
  padding-top: 10px;
}
.margin__top--10px {
  margin-top: 10px;
}
.margin__top--32px {
  margin-top: 32px;
}
.margin__left--10px {
  margin-left: 10px;
}
.margin__left--32px {
  margin-left: 32px;
}
.smaller-icon {
  font-size: 16px;
}
.avi-container {
  display: flex;
  justify-content: center;
}
.certs-table { 
  td {
    vertical-align: middle !important;
  }
}

@media only screen and (max-width: 768px) {
  #me {
    width: 100px;
    height: 100px;
  }
  .resume-panel-container {
    display: block;
  }
  .add-margins {
    margin: 16px 16px 48px;
  }
}